@charset "utf-8";

@font-face {
    font-family: 'Montserrat-extra';
    src: url('../font/Montserrat-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('../font/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansR';
  src: url('../font/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSanM';
  src: url('../font/NotoSansKR-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSansB';
  src: url('../font/NotoSansKR-Bold.otf') format('truetype');
}

html{width:100%; height:100%; overflow: hidden;} 
body {width: 100%; height: 100%; font-family: 'NotoSansR', sans-serif;}

#header{position: relative; z-index: 1; width: 100%; height: 100vh; background: #F8FBEF;}
#header .vector{position: absolute; right: 24%; top: 50%; transform: translateY(-50%); width: 350px; z-index: 10;}
#header .click{width: 100px; height: 68px; position: absolute; bottom: 38px; left: 50%; transform: translateX(-50%); cursor: pointer; background: url(../img/click.png) no-repeat; background-size: cover; 
  animation: motion 0.5s linear 0s infinite alternate;
  -moz-animation: motion 0.5s linear 0s infinite alternate;
  -webkit-animation: motion 0.5s linear 0s infinite alternate;
  -o-animation: motion 0.5s linear 0s infinite alternate;
  display: none;
}
#header .click:hover{background: url(../img/click_hover.png) no-repeat; width: 100px; height: 68px; background-size: cover;}

@keyframes motion {
	0% {bottom: 38px; }
	100% {bottom: 28px;}
}


#header .heading{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; z-index: 11;}
#header .heading>div{overflow: hidden;}
#header .heading>div{-webkit-animation-delay: 0; animation-delay: 0;}
#header .heading>div:nth-child(2)>p{-webkit-animation-delay: 0.05s; animation-delay: 0.05s;}
#header .heading div h1{font-size: 100px; font-family: 'Montserrat-extra'; text-align: center; 
  animation: slide-up 1.2s cubic-bezier(0.65, 0, 0.35, 1) both;
  -webkit-animation: slide-up 1.2s cubic-bezier(0.65, 0, 0.35, 1) both;}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

#content{position: relative; width: 100%; height: 100vh; overflow: hidden;}
#content .menu-wrap{position: absolute; right: 120px; top: 50px;}
#content .menu-wrap ul{display: flex;}
#content .menu-wrap ul li{margin-right: 30px;}
#content .menu-wrap ul li a{font-size: 24px;font-family: 'Montserrat-bold', sans-serif; color: #4C4C4D;}
#content .menu-wrap ul li a.on{background: linear-gradient(to top, #fad4ae 50%, transparent 50%);}
#content .content-wrap{width: 85%; height: 656px; background: #f6eee5; border-radius: 30px; position: absolute; top: 12%; left: 50%; transform: translateX(-50%);}
#content .content-wrap #about-wrap{
  display: flex;
  animation: fadein 3s;
  -moz-animation: fadein 3s; 
  -webkit-animation: fadein 3s; 
  -o-animation: fadein 3s;}
#content .content-wrap #about-wrap h2{font-size: 40px; color: #4C4C4D; font-family: 'Montserrat-bold', sans-serif; position: absolute; top: 38px; left: 47px;}
#content .content-wrap #about-wrap .desc_l{width: 50%; position: relative; top: 120px; left: 5%;}
#content .content-wrap #about-wrap .desc_l img{border-radius: 50%; width: 130px; position: absolute; top: 25px; left: 40px;}
#content .content-wrap #about-wrap .desc_l>p{font-size: 23px; text-align: center; position: relative; top: 270px; left: -11%; line-height: 220%;}
#content .content-wrap #about-wrap .desc_l .about_me{line-height: 50.2px; position: absolute; left: 250px; top: 14px; width: 360px; font-size: 22px;}
#content .content-wrap #about-wrap .desc_l .about_me p{display: block; color: #66764A; font-weight: 500; width: 120px; float: left;} 
#content .content-wrap #about-wrap .skills{width: 50%; padding: 103px 63px 0 63px;}
#content .content-wrap #about-wrap .skills>p{font-size: 26px; font-weight: bold; border-bottom: 2px solid #333; width: 140px;}
#content .content-wrap #about-wrap .skills .skill-wrap>div{position: relative; margin-top: 28px;}
#content .content-wrap #about-wrap .skills .skill-wrap div>p{display: inline; font-size: 16px;}
#content .content-wrap #about-wrap .skills .skill-wrap div .percent{position: absolute; right: 0;}
#content .content-wrap #about-wrap .skills .skill-etc{margin-top: 40px;}
#content .content-wrap #about-wrap .skills .skill-etc p{display: inline-block; font-size: 14px; margin-right: 5px;border: 1px solid #333; padding: 5px 10px; margin-bottom: 10px;}
#content .bImg2 img{position: absolute;}
#content .bImg2 .b102{top:20px; left: 30px;}
#content .bImg2 .b202{top:20px; right: 30px;}
#content .bImg2 .b302{top:20px; right: 700px;}
#content .bImg2 .b402{bottom: 36px; left: 75px;}
#content .bImg2 .b502{bottom: 260px; right: 30px;}

#skill-bar{margin-top: 10px;}
.progress-bar, .progress-bar2, .progress-bar3, .progress-bar4 {width: 100%; height: 30px; background-color: #dedede; font-weight: 600; font-size: .8rem; margin-bottom: 1rem; border-radius: 20px;}
.progress-bar>div{width: 0; height: 30px; padding: 0; text-align: center; color: #111; border-radius: 20px;}
.progress-bar .progress { background-color: #66764A;}
.progress-bar .progress-bar2 {background-color: #D5C4A3;}
.progress-bar .progress-bar3 {background-color: #e0ac73;}
.progress-bar .progress-bar4 {background-color: #95A474;}

#content .content-wrap #projects-wrap {display: none;
  animation: fadein 3s;
  -moz-animation: fadein 3s; 
  -webkit-animation: fadein 3s; 
  -o-animation: fadein 3s;}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-moz-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#content .content-wrap #projects-wrap .projects-header{display: flex; justify-content: space-between;}
#content .content-wrap #projects-wrap .projects-header h2{font-size: 40px; color: #4C4C4D; font-family: 'Montserrat-bold', sans-serif; position: absolute; top: 38px; left: 47px;}
#content .content-wrap #projects-wrap .projects-header .menu{position: absolute; top:70px; right: 100px; z-index: 999;}
#content .content-wrap #projects-wrap .projects-header .menu ul{display: flex; height: 0;}
#content .content-wrap #projects-wrap .projects-header .menu ul li{margin-left: 60px;}
#content .content-wrap #projects-wrap .projects-header .menu ul li a{font-size: 22px; color: #333; font-weight: 600; letter-spacing: 3px;}
#content .content-wrap #projects-wrap .projects-header .menu ul li:hover a{color: rgb(0,0,0,.5);}
#content .content-wrap #projects-wrap .p_main .p_btn a.prev{position: absolute; top: 85%; left: 30px;}
#content .content-wrap #projects-wrap .p_main .p_btn a.next{position: absolute; top: 85%; right: 30px;}

#content .content-wrap .arrow{position: absolute; top: 90%; left: 50%; transform: translateX(-50%); z-index: 9999;}

.swiper {
  position: absolute;
  top: 13%;
  left: 50px;
  width: 90%;
  height: 77%;
}

.swiper-slide:first-child{
  margin-left: -60px;
}

.swiper-slide img {
  display: block;
  width: 340px;
  height: 193px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  left: 180px;
}
.swiper-slide img.cmImg{
  width:300px
}

.swiper-slide h3{
  font-size: 22px;
  position: absolute;
  top: 282px;
  left: 190px;
  width: 320px;
  text-align: left;
  font-family: 'NotoSansB';
}
.swiper-slide p{
  text-align: left;
  font-size: 18px;
  position: absolute;
  top: 324px;
  left: 190px;
  width: 417px;
  line-height: 180%;
}

.swiper-slide .content{
  position: absolute;
  top: 72px;
  left: 180px;
}
.swiper-slide>div:hover a{
  opacity: 1;
}
.swiper-slide .content a{
  background: rgba(0,0,0,.7);
  border-radius: 15px;
  transition: .5s;
  opacity: 0;
  width: 340px;
  height: 193px;
  display: block;
  text-align: center;
  line-height: 198px;
  color: #fff;
}
.swiper-button-next{
  position: absolute;
  top:480px;
  right: 200px;
}
.swiper-wrapper{
  margin-left:-110px
}

#content .content-wrap #contact-wrap{display: none;  
  animation: fadein 3s;
  -moz-animation: fadein 3s; 
  -webkit-animation: fadein 3s; 
  -o-animation: fadein 3s;}
#content .content-wrap #contact-wrap h2{font-size: 40px; color: #4C4C4D; font-family: 'Montserrat-bold', sans-serif; font-weight: 900;}
#content .content-wrap #contact-wrap .contact-header .contact{position: relative; top: 40px; left: 45px;}
#content .content-wrap #contact-wrap .contact-header .thankyou{position: absolute; bottom: 40px; right: 45px;}
#content .content-wrap #contact-wrap .myInfo{line-height: 550%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); height: 250px;}
#content .content-wrap #contact-wrap .myInfo .myInfo-wrap{width: 270px; margin: 18px auto;}
#content .content-wrap #contact-wrap .myInfo .myInfo-wrap p{font-size: 20px; position: relative; }
#content .content-wrap #contact-wrap .myInfo .myInfo-wrap p img{width: 40px; position: relative; top: 13px; left: -8px;}
#content .content-wrap .link ul{position: absolute; bottom: 10px; right:-40px;}
#content .content-wrap .link ul li a img{width: 30px; transition: .4s;}
#content .content-wrap .link ul li:hover a img{scale: 1.2;}
#content .content-wrap .link ul li a .book{margin-top: 3px;}

.alert{background: #F8FBEF; width: 100%; height: 100vh; display: grid; place-items: center; display: none;}
.alert h2{font-size: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 25ch; animation: typing 2s steps(25), blink .5s step-end infinite alternate; white-space: nowrap;  overflow: hidden; font-family: monospace;} 

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
 

/* 미디어쿼리 */
@media screen and (min-height: 844px ){
  #content .menu-wrap{top: 107px;}
  #content .content-wrap{top: 19%;}
  #content .bImg2 .b402{bottom: 77px}
  #content .content-wrap #about-wrap .desc_l{top: 150px;}
  #content .content-wrap #about-wrap .skills{padding: 103px 63px 0 63px;}
}
@media screen and (max-width: 1596px ){
  #content .content-wrap #about-wrap .desc_l .about_me{left: 195px;}
}
@media screen and (max-width: 1534px ){
  #content .content-wrap #about-wrap .desc_l{left: 2%;}
  #content .content-wrap #about-wrap .desc_l>p{top: 250px; left: -18px;}
}
@media screen and (max-width: 1407px ){

}
@media screen and (max-width: 1330px ){
  #content .content-wrap #about-wrap .desc_l .about_me{font-size: 18px; }
  #content .content-wrap #about-wrap .desc_l .about_me p{width: 88px;}
  #content .content-wrap #about-wrap .desc_l>p{font-size: 20px; top: 284px; left: 25px;}
  #content .bImg2 .b402{left: 60px;}
}
@media screen and (max-width: 1169px ){
  #content .content-wrap #about-wrap .desc_l .about_me{font-size: 16px;}
  #content .content-wrap #about-wrap .desc_l .about_me p{width: 75px;}
}
@media screen and (max-width: 1104px ){
  #content .bImg2 .b402{left: 48px;}
}
@media screen and (max-width: 1050px ){
  #content .content-wrap #about-wrap .desc_l .about_me{font-size: 14px;}
  #content .content-wrap #about-wrap .desc_l>p{font-size: 19px;}
}
@media screen and (max-width: 1290px ){
  .swiper-slide img{width: 279px; height: auto;}
  .swiper-slide .content a{width: 279px; height: 158.36px; line-height: 160px;}
  .swiper-slide h3{top: 250px;}
  .swiper-slide p{top: 288px;}
  .swiper{left: 0;}
}
@media screen and (max-width: 1225px ){
  .swiper-slide img{width: 252px; height: auto;}
  .swiper-slide .content a{width: 252px; height: 143.78px; line-height: 148px;}
  .swiper-slide h3{top: 230px;}
  .swiper-slide p{top: 268px; font-size: 14px;}
}
@media screen and (max-width: 1000px ){
  #wrap{display: none;}
  .alert{display: block;}
}