@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Carneys Gallery';
    src: url('../fonts/Carneys\ Gallery.otf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat\ Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat light';
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

/* @keyframes color {
    0%   { background: #DDD6F3; }
    50%  { background: #e3c3c1; }
    80% { background: #FAACA8; }
    100% { background: #DDD6F3; }
} */
  
html{width:100%; height:100%;} 
body {
background-image: linear-gradient(to top, rgb(131,163,205), rgb(205,186,220) 50%, rgb(168,175,213) 100%);
/* animation: color 9s infinite linear; */
font-family: 'Pretendard', serif;
width: 100%; height: 100%;
background-attachment: fixed;
}

#header{position: relative; z-index: 1; height: 100vh;}
#header .menu{position: absolute; top: 40px; right: 60px;}
#header .menu ul li{margin-bottom: 10px;}
#header .menu ul li a{font-size: 24px; font-style: italic; color: #fff;}
#header .menu ul li:hover a{color: rgb(56, 55, 55);}
#header #home h1{font-size: 118px; font-family: 'Montserrat';}
#header #home .intro .intro_l{position: absolute; top: 240px; left: 400px; color: #fff;}
#header #home .intro .intro_r{position: absolute; top: 380px; right: 470px; color: transparent; -webkit-text-stroke: 2px #fff;}

#about{position: relative; height: 100vh;}
#about h1{font-size: 100px; color: #fff; font-family: 'Carneys Gallery'; letter-spacing: -5.8px; padding-left: 30px;}
#about .about_wrap{width: 95%; height: 650px; background: rgba(255,255,255,.6); border-radius: 20px; margin-left: 30px; position: relative; top: -15px; display: flex;}
#about .about_wrap .desc_l{width: 50%; position: relative; top: 100px;}
#about .about_wrap .desc_l img{border-radius: 50%; width: 23%; position: absolute; top: -35px; left: 40px;}
#about .about_wrap .desc_l>p{font-size: 24px; text-align: center; line-height: 200%; position: relative; top: 230px; left: 0px;}
#about .about_wrap .desc_l .about_me{line-height: 50.2px; position: absolute; left: 250px; top: -39px; width: 345px; font-size: 22px;}
#about .about_wrap .desc_l .about_me p{display: inline; color: #755FD7; font-weight: 500; padding-right: 35px;} 
#about .about_wrap .desc_l .about_me p.name{padding-right: 51px;}
#about .about_wrap .desc_l .about_me p.age{padding-right: 75px;}
#about .about_wrap .desc_l .about_me p.contact{padding-right: 30px;}
#about .about_wrap .desc_l .about_me p.email{padding-right: 50px;}
#about .about_wrap .skills{width: 50%; padding: 63px;}
#about .about_wrap .skills>p{font-size: 26px; font-weight: bold; border-bottom: 2px solid #333; width: 140px;}
#about .about_wrap .skills .skill-wrap>div{position: relative; margin-top: 28px;}
#about .about_wrap .skills .skill-wrap div>p{display: inline; font-size: 16px;}
#about .about_wrap .skills .skill-wrap div .percent{position: absolute; right: 0;}
#about .about_wrap .skills .skill-etc{margin-top: 40px;}
#about .about_wrap .skills .skill-etc p{display: inline-block; font-size: 18px; margin-right: 5px;border: 1px solid #333; padding: 5px 10px;}

#skill-bar{margin-top: 10px;}
.progress-bar, .progress-bar2, .progress-bar3, .progress-bar4 {width: 100%; height: 30px; background-color: #dedede; font-weight: 600; font-size: .8rem; margin-bottom: 1rem; border-radius: 20px;}
.progress-bar>div{width: 0; height: 30px; padding: 0; text-align: center;color: #111; border-radius: 20px;}
.progress-bar .progress { background-color: #c332f8;}
.progress-bar .progress-bar2 {background-color: #dfbfea;}
.progress-bar .progress-bar3 {background-color: #9455af;}
.progress-bar .progress-bar4 {background-color: #ae73c8;}


#projects{height: 100vh; position: relative;}
#projects .projects_wrap .projects_header{display: flex; justify-content: space-between;}
#projects .projects_wrap .projects_header h2{font-size: 100px; color: #fff; font-family: 'Carneys Gallery'; position: relative; top: 0px; letter-spacing: -5.8px; padding-left: 30px;}
#projects .projects_wrap .projects_header .menu{position: absolute; top:70px; right: 100px; z-index: 999;}
#projects .projects_wrap .projects_header .menu ul{display: flex; height: 0;}
#projects .projects_wrap .projects_header .menu ul li{margin-left: 60px;}
#projects .projects_wrap .projects_header .menu ul li a{font-size: 22px; color: #fff; font-family: 'Montserrat light'; font-weight: 600; letter-spacing: 3px;}
#projects .projects_wrap .projects_header .menu ul li:hover a{color: rgb(0,0,0,.5);}
#projects .projects_wrap .p_main .p_btn a.prev{position: absolute; top: 85%; left: 30px;}
#projects .projects_wrap .p_main .p_btn a.next{position: absolute; top: 85%; right: 30px;}

#projects .arrow{position: absolute; top: 90%; left: 50%; transform: translateX(-50%); z-index: 9999;}



.swiper {
    position: absolute;
    /* background: yellowgreen; */
    top: 18%;
    width: 100%;
    height: 77%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    position: relative;
    color: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide:first-child{
    margin-left: -60px;
  }
  
  .swiper-slide img {
    display: block;
    width: 431px;
    height: 245px;
    object-fit: cover;
    position: absolute;
    top: 72px;
    left: 180px;
  }
  .swiper-slide img.cmImg{
    width:300px
  }
  
  .swiper-slide h3{
    font-size: 32px;
    position: absolute;
    top: 335px;
    left: 178px;
    font-weight: bold;
    width: 320px;
    text-align: left;
  }
  .swiper-slide p{
    text-align: left;
    font-size: 24px;
    position: absolute;
    top: 392px;
    left: 177px;
    width: 417px;
  }
  
  .swiper-slide .content{
    position: absolute;
    top: 72px;
    left: 180px;
  }
  .swiper-slide>div:hover a{
    opacity: 1;
  }
  .swiper-slide .content a{
    background: rgba(0,0,0,.7);
    border-radius: 21px;
    transition: .5s;
    opacity: 0;
    width: 432px;
    height: 246px;
    display: block;
    text-align: center;
    line-height: 246px;
    color: #fff;
  }
/*   .swiper-slide .content01{
    position: absolute;
    top: 72px;
    left: 180px;
  }
  .swiper-slide .content01 a{
    width: 301px;
    background: rgba(0,0,0,.7);
    height: 246px;
    border-radius: 18px;
    transition: .5s;
    opacity: 0;
    display: block;
    text-align: center;
    line-height: 246px;
    color: #fff;
  } */
  .swiper-button-next{
    top: 609px;
    right: 190px;
  }
  .swiper-wrapper{
    margin-left:-110px
  }
  
  #contact{position: relative; height: 100vh;}
  #contact .c-wrap{width: 95%; height: 650px; background: rgba(255,255,255,.6); border-radius: 20px; margin-left: 30px; position: relative; top: 100px;}